<h1>Forgot Password</h1>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<%= form_for(:password_resets, url: password_resets_path) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "Reset my password" %>
<% end %>
