<style>
		body { font-size: 62.5%; }
		label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		h1 { font-size: 1.2em; margin: .6em 0; }
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
<div id="task-dialog-form" title="Create new task">
	<p class="validateTips">All form fields are required.</p>

	<form>
	<fieldset>
		<label for="task">Task</label>
		<input type="text" name="task" id="task" class="text ui-widget-content ui-corner-all" />
		<label for="due_date">Due Date</label>
		<input type="date" name="due_date" id="due_date" value="" class="text ui-widget-content ui-corner-all" />
		<label for="category">Category</label>
		<input type="text" name="category" id="category" value="" class="text ui-widget-content ui-corner-all" />
		<label for="category">Private</label>
		<input type="checkbox" name="private" id="private" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>

<div id="tasks-contain" class="ui-widget">
	<h1>Existing Tasks:</h1>
	<table id="users" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Task</th>
				<th>Due Date</th>
				<th>Category</th>
				<th>Private</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Pick up drycleaning</td>
				<td>dd/mm/yyyy</td>
				<td>Personal</td>
				<td>Yes</td>
			</tr>
		</tbody>
	</table>
</div>
<button id="create-task">Create new task</button>
