<h1>Admin Console</h1>

<p>Here you can make changes to the backend values in databases, such as day rates, length of time for installs, etc. 
<br>
Please do not amend existing values. Instead, add a new entry. Editing old values will cause issues with existing quotes.</p>

<h4><%= pluralize User.logged_in.count, "user" %> currently logged in<br /> <!-- This based on last_request_at, if they were active < 10 minutes they are logged in --></h4>

<p>This is for the admin settings, such as changing quote costs, time lengths, etc</p>
<br>
<div class="settings_links">
<%= link_to 'View iOS Support and Install Values', ios_values_path %><br>
<%= link_to 'View Mac Support and Install Values', mac_values_path %><br>
<%= link_to 'Manage Users', users_path %><br>
</div>