/* Overall Views*/
body {
	background: #eeeeef;
	color: #838383;
	font: Helvetica, Georgia;
	display: block;
	border: 0px;
	vertical-align: baseline;

}
#wrapper {
	margin: 0 auto;
	background: #f3f3f3;
	display: block;
}
#content {
	width: 950px;
	display: table;
	margin: 0px auto;
	padding: 30px 0px;
	position: relative;
	font: Helvetica, Georgia;
}
#wrapper h1 {
	font-size: 200%;
}
#main {
	display: block;
	float: left;
	margin-left: -5px;
	width: 610px;
	background: white;
	padding: 10px;
}
#main h1 {
	line-height: normal ;
}
/* Header */
#header {
	padding-top: 5px;
	position: relative;	
	height: 60px;
	background: white;
}
#header div {
	width : auto ;
	float : left ;
	margin: 0px auto ;
	padding-left: 150px ;
}
#header a {
	font-weight: bold;
	text-decoration: none;
}
#header #nav {
	float: left;
	height: 50px;
	line-height: 50px;
	border-right: 1px solid #F3F3F3;
}
#header #nav li {
	float:left;
	border-left: 1px solid #F3F3F3;
	line-height: 50px;
}
#header #nav li a {
	float: left;
	padding: 0px 10px ;
	color: #838383 ;
	font-size : 0.92em;
}
#header .header_logo {
	padding: 2px;
	background: #fff;
	float: left;
	width: 124px ;
	list-style-type: none;
}

#user_status {
	padding : 0 5px 0 5px;
}

/* Footer */
#footer {
  	padding: 20px 0px;
	height: 60px;
	background: white;
	color: #838383;
}
#footer div {
	width: 960px;
	margin: 0px auto;
	padding-right: 10px;
}
#footer a {
	font-weight:normal;
	text-decoration:none;
}
#footer #nav {
	float: none;
	display:inline-block;
	height: 40px;
	line-height: 40px;
	border-right:1px solid #F3F3F3;
}
#footer #nav li {
	float: left;
	border-left: 1px solid #F3F3F3;
	line-height: 40px;	
}
#footer #nav li a {
	padding: 15px 10px;
	font-weight: normal;
	float:left;
}
#footer a {
	color: #838383;
}

/* */
ul {
	list-style-type: none;
}
ol, ul {
	list-style: none;
}

/* Links */
a {
	color: #069	;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #ccc ;
	text-decoration: underline;
}
a:visited {
	color: #069;
}

/* Navigation */
#nav {
	float: left;
	height: 50px;
	line-height: 50px;
  	border-right: 1px solid #F3F3F3;
}
#nav ul {
  	list-style-type: none;
  	height: 50px;
}
#nav ul li {
	list-style-type: none;
	display: inline-block;
	border-left: 1px solid #F3F3F3;
	height: 50px;
}
#nav ul li a {
	padding: 0 10px;
}
#nav ul li a:visited {
	color: #09c;
}
#nav ul li a:hover {
  text-decoration: underline;
}
.navigation_link {
	float: left ;
	display : block ;
	font-size : 15px ;
}

#more_link {
	margin:2px 3px;
	float:right;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}
th {
	background: #fff;
	color : #000;
}
td#main {
	width:70%;
	padding:1em;
}
td#sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}
tr td{
	background-color: #fff;
	
}

/* Signup Errors */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #C11B17 ;
  display: table;
}
.field_with_errors label {
  color: #fff;
}
#error_explanation {
  width: 300px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #C11B17;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: ##C11B17;
  color: #fff;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
ul.users {
	float: left;
	margin-top: 1em;
	display: block;
}
.users li {
	list-style: none;
}
.users {
	width: 630px;
}
/* Sidebar */
#sidebar {
	float: right;
	margin-right: -5px;
	position: relative;
	width: 310px;
	background: white;
	padding: 5px;
}
#sidebar h3 {
	font-size:1.6em;
	color: #666999;
	padding: 5px;
}
div.pagination {
	padding: 10px;
	background: white;
}

/* Bottom Navigation */
#back_button {
	float: left;
	padding : 2px 5px;
}

#edit_button { 
	float: right ;
	padding : 2px 5px;
}

/* Generic Form Styling */

legend {
	margin-left : 1em;
	padding : 0 ;
	color : #000 ;
	font-weight : bold ;
}

label {
	min-width : 20% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin : 0 1em 0 0 ;
}
input[type="text"], input[type="password"] {
	padding: 2px 2px;
	margin: 0 0 0 5px;
	font-size:1.1em;
	vertical-align:middle;
	
}

/* iOS Quote Styling */
#iosquote label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
#iosquote input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	
}
/* iOS Value Styling */
.iosvalues label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
.iosvalues input[type="text"] {
	width:100px;
	padding: 5px;
	margin-left:100px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	text-align:right;	
}

/* Mac Quote Styling */
#macquote label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
#macquote input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	
}

/* Mac Value Styling */
.macvalues label {
	width : 25% ;
	font-size:1em;
	color:#000;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
.macvalues input[type="text"] {
	width:100px;
	padding: 5px;
	margin-left:100px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	text-align:right;	
}

p#helper {
	font-size : 0.82em ;
	background : ;
	width : 60% ;
	float : right ;
	display : block ;
	padding : 2px 2px ;
	
}
.field { 
	min-height : 50px;
	margin:2px;
	font-size:1.2em;
	text-align:;
}

/* Login Form Styling */
#loginform label {
	font-size:1.4em;
	font-family:Helvetica, arial, san-serif;
	font-color:black;
	padding:5px;
	vertical-align:middle;
}

#loginform input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	
}

fieldset li {
	float: left;      
	clear: both;      
	width: 100%;      
	margin: 0 0 1.5em 0;      
	padding: 0;      
	border: 1px solid #BFBAB0;      
	background-color: #F2EFE9;
}
fieldset {
	float : left ;
	clear : left ;
	margin : 0 0 1.5em 0;
	padding : 1em ;	
	min-height : 30px;
}
.clear {
	overflow : hidden ;
	width : 100% ;
}

/* a href styling */
a.button {
	background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}
a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/* Home Twitter Sidebar */
#twitter {
	font-size: 1em;
	line-height:120%;
}
#twitter ul {
	line-height:1.6em;
	display:block;
	font-size: 1.1em;
}
#twitter a {
	color:#666999;
	font-size: 0.8em;
}
/* application.css */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

/* Settings Page */
.settings_links {
	color : #666999;
	font-size : 14px;
	font-color : #555999;

}
.settings_lins a.hover {
	font-style : underline ;
}

/* Table Formatting */
th	 { 
	font-size : 0.86em ;
	background : #cccfaa ;

}
.tabletitle {
	background:;
	padding: 4px 3px;
}

.awesome{
font-family: Arial, Helvetica;
background: #222 url(/images/alert-overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}

/* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}
 
/* Colors ---------- */
.blue.awesome {
background-color: #2daebf;
}
.red.awesome {
background-color: #e33100;
}
.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
background-color: #ff5c00;
}
.yellow.awesome {
background-color: #ffb515;
}

button.awesome, .button.awesome {
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
