<h1>Activate your account</h1>

<% simple_form_for @user, :url => activate_account_path(@user.id), :html => { :method => :post } do |f| %>
	<%= f.error_notification %>
	<%= f.submit "Activate" %>
<% end %>
