<h3>Mac</h3>
<%= link_to "Create a new Installation Quote", mac_quotes_path %>
<br>
<br>
<h3>iPad, iPhone and iPod Touch</h3>
<%= link_to "Create a new iOS Install and Support Quote", ios_quotes_path %><br>
