<h2>Quotes Dashboard</h2>

<%= link_to "Create a new Mac Install or Support Quote", new_mac_quote_path %><br />
<%= link_to "Create a new iOS Deployment and Support Quote", new_ios_quote_path %><br />

