<h2>Quotes Dashboard</h2>

<%= link_to "Create a new Support Quote", new_support_quote_path %><br />
<%= link_to "Create a new Installation Quote", new_install_quote_path %><br />
<%= link_to "Create a new iOS Deployment and Support Quote", new_ios_quote_path %><br />

