<%= form_for(@mac_value) do |f| %>
  <% if @mac_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mac_value.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
      <% @mac_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  </div>
  <div class="field">
  </div>
  <div class="field">
  </div>
  <div class="field">
  </div>
  <div class="button"><span>Submit</span>
  </div>
<% end %>