<tr>
  <td><%= role.title %></td>
  <td><%= link_to "Edit", edit_user_role_url(:id => role,
      :user_id => role.user) %></td>

<td><%= link_to "Delete", user_role_url(:id => role,
        :user_id => role.user),
        :method => :delete %></td>

</tr>
