/*
CSS for Internalapp Rails application
Made by Dom Barnes
http://dombarnes.com
Inspiration from http://www.colourlovers.com/palette/482416/Wasabi_Suicide
*/

/* Overall Views*/
* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	border:0; /* This removes the border around the viewport in old versions of IE */
	width:100%;
	text-align: left;
	font-family: helvetica, arial, verdana, sans-serif;
}

a img { border: none; }

p { margin: 1.0em 0; line-height: 1.4em; font-size: 13px; }

h1 { font-size: 22px; }
h3 { font-size: 16px; }
h4 { font-size: 13px; margin-bottom: 10px; }
h5 { font-size: 12px; margin-bottom: 5px; }
h6 { font-size: 10px; font-weight: normal; margin-bottom: 0; }


ul { list-style: none; }
li { font-size: 12px; }

#wrapper h1 {
	font-size: 2em;
}
#main {
	display: block;
	float: left;
	margin-left: -5px;
	width: 800px;
	background: white;
}
#main h1 {
	line-height: normal ;
}
input[type=checkbox] {
	-webkit-appearance :checkbox;
}


/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

/* */
.data-view {
	background:white;
}

.data-list {
	border-top: 2px solid lightgrey;
	padding:5px;
}

.data-nav {
	background:#E1EDB9;
	font-color:#FF4242;
}

/* Table Formatting */
table {
	width: 100%;
	border-collapse: collapse;
}
td, th { text-align: left; }

th	 {
	font-size : 0.86em ;
	background : white ;
}

tr {

}

td {

}

h3.tabletitle {
	padding: 24px 3px 24px 3px;

}
.new_item_link {
	padding-top:8px;
	padding-bottom:16px;
}

/* Table Classes */
.tablename {
	font-size:1.3em;
	padding: 10px 2px;
}

/* Show Page Styles */
.nameheader {
	font-size:14pt;
}

tr#row_person {
	width:100%;
	height:50px;
	padding-top:8px;
	padding-left:2px;
	border-top:1px solid #F0F2EB;
	border-bottom:1px solid #F0F2EB;
}

#row_company { }
#row_task { }
#row_adhoc { }
#row_user { }
#row_macquotes { }
#row_macvalues { }
#row_iosquotes { }
#row_iosvalues { }

/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}
th {
	background: #fff;
	color : #000;
}
td#main {
	width:70%;
	padding:1em;
}
td#sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}
tr td{
	background-color: #fff;

}

/* Signup Errors */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color:#ffffff;
  display: table;
}
.field_with_errors label {
  color: #000;
  border:2px solid #c11B17;
}
#error_explanation {
  width: 300px;
  border: 2px solid #C11B17;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color:#ffffff;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 10px;
  margin: -7px;
  background-color: #C11B17;
  color: #000;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
ul.users {
	float: left;
	margin-top: 1em;
	display: block;
}
.users li {
	list-style: none;
}
.users {
	width: 630px;
}
/* Sidebar */
#sidebar {
	float: right;
	margin-right: -5px;
	position: relative;
	width: 310px;
	background: white;
	padding: 5px;
}
#sidebar h3 {
	font-size:1.6em;
	color: #666999;
	padding: 5px;
}
div.pagination {
	padding: 10px;
	background: white;
}

/* Bottom Navigation */
#back_button {
	float: left;
	padding : 2px 5px;
}

#edit_button {
	float: right ;
	padding : 2px 5px;
}

/* Generic Form Styling */
legend {
	margin-left : 1em;
	padding : 0 ;
	color : #000 ;
	font-weight : bold ;
}

label {
	padding : 2px 5px 0 0;
	float : left;
	text-align : left;
	margin : 0 1em 0 0;
}
input[type="text"], input[type="password"] {
	padding: 2px 2px;
	margin: 0 0 0 5px;
	font-size:1.1em;
	vertical-align:middle;

}

/* User Form Styling */
.roles label {
	min-width:0px;
	margin: 0px;
	padding: 0px;
	float:none;
}

.roles p {
	margin:0px;
}

.roles input[type="checkbox"] {
	padding:0px;
	margin:6px 0.5ex;
	-webkit-appearance: checkbox;
	-webkit-box-sizing: border-box;
	-webkit-rtl-ordering:logical;
	-webkit-user-select: text;
	cursor:auto;
	padding: 1px;
}

/* Tasks Styling */
#overdue {
	font-size:16px;
	padding-top:20px;

	}
#due_this_week {
	font-size:16px;
	padding-top:20px;

	}
#due_older {
	font-size:16px;
	padding-top:20px;
	}
.tasklist {
	width:100%;
}
td.taskitem {width:270px;}
td.checkbox {width:29px;}
td.taskcategory {width:200px;}
td.taskdate {width:113px;}

#people{
	padding:5px;
}

/* iOS Quote Styling */
#iosquote label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
#iosquote input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;

}
/* iOS Value Styling */
.iosvalues label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
.iosvalues input[type="text"] {
	width:100px;
	padding: 5px;
	margin-left:100px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	text-align:right;
}

/* Mac Quote Styling */
#macquote label {
	width : 25% ;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
#macquote input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;

}

/* Mac Value Styling */
.macvalues label {
	width : 25% ;
	font-size:1em;
	color:#000;
	padding : 2px 5px 0 0 ;
	float : left ;
	text-align : left ;
	margin-right : 1em ;
}
.macvalues input[type="text"] {
	width:100px;
	padding: 5px;
	margin-left:100px;
	margin-bottom: 5px;
	font-size:1.4em;
	vertical-align:middle;
	text-align:right;
}

p#helper {
	font-size: 0.82em ;
	width: 60% ;
	float: right ;
	display: block ;
	padding: 2px 2px ;

}
.field {
	min-height: 50px;
	margin:2px;
	font-size:1.2em;
}

/* Quote Values Show Styling*/
.quotevalues {
	width:500px;
	font-size:100%;
}
.quotevalues th {
	width:40%;
}
.quotevalues tr {
	width:40%;
}


/* Quote Table */
table.quotetable {
	margin:10px 0 10px 0;
}
th.quotetable {
	border-bottom:1px solid black;
}

table.quotetable, tr, td {
	padding-top:5px;
	padding-bottom:5px;

}
table.quotetable tr:first-child { border-bottom:1px solid #000;}
table.quotetable td { border-bottom:1px dotted #000; }

tr.companies_table{
	border-bottom:1px dotted black;
	padding-bottom:15px;
}
/* Login Form Styling */
#loginform label {
	font-size:1em;
	font-color:black;
	padding:1px 5px;
	vertical-align:middle;
	display:block;
	float:none;
	width:30%;
}

#loginform {
	width:70%;
	padding: 28px;
	margin-left:20%;
	margin-right:20%;
}

body.login input#user_session_email, body.login input#user_session_password {
	width:200px;
	padding:3px;
	font-size:1em;
}

#loginform input[type="text"], input[type="password"] {
	padding: 5px 5px;
	font-size:1em;
	vertical-align:middle;
	width:200px;
}

#login_submit { }


fieldset li {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
}
fieldset {
	float:left;
	clear:left;
	margin:0 0 1.5em 0;
	padding:1em;
}
.clear {
	overflow : hidden ;
	width : 100% ;
}

/* a href styling */
a.button {
	background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}
a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

/* Home Twitter Sidebar */
#twitter {
	font-size: 1em;
	line-height:120%;
}
#twitter ul {
	line-height:1.6em;
	display:block;
	font-size: 1.1em;
}
#twitter a {
	color:#666999;
	font-size: 0.8em;
}

/* application.css */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.formfield {
	padding:3px;
	margin:5px 0;
}

/* Settings Page */
.settings_links {
	color : #666999;
	font-size : 14px;
	font-color : #555999;

}
.settings_lins a.hover {
	font-style : underline ;
}

.awesome{
background: #222 url(/images/alert-overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
text-shadow: 0 -1px 1px #222;
border-bottom: 1px solid #222;
position: relative;
cursor: pointer;
}

/* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}

/* Colors ---------- */
.blue.awesome {
background-color: #2daebf;
}
.red.awesome {
background-color: #e33100;
}
.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
background-color: #ff5c00;
}
.yellow.awesome {
background-color: #ffb515;
}

button.awesome, .button.awesome {
	background: #222 url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
   	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

code, pre  {
  font-family: monospace;
  background: inherit;
  color: #333;
  font-size: 12px;
}
div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}
