<div>
  <ul id="nav">
    <li><%= link_to "Home", root_path %></li>
    <li><a href="http://www.macbyte.co.uk/news">News</a></li>
    <li><a href="http://support.macbyte.co.uk">Support</a></li>
    <li><a href="http://www.macbyte.co.uk/contact.html">Contact</a></li>    
    <li><%= link_to "Help", help_path %></li>
  </ul>
</div>